<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title th:text="#{car.list.page.title}"></title>
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container">
    <div th:if="${carList.empty}">
        <span class="text-info" th:text="#{car.list.no.cars}"></span>
    </div>
    <ul class="list-group">
        <li th:each="car : ${carList}" class="list-group-item">
            <img th:if="${!car.fileUrlList.empty}" th:src="${car.fileUrlList.get(0)}" height="100px" width="100px">
            <a th:href="@{/cars/{car-id}(car-id=${car.id})}">
                <span th:text="${car.model}"> Model </span>
                <span th:text="${car.cost}"> Cost</span>
            </a>
            <a th:href="@{/profile/{id}(id=${car.owner.id})}">
                <span th:text="${car.owner.firstName} + ' ' + ${car.owner.lastName}"> Owner </span>
            </a>
        </li>
    </ul>
</div>

</body>
</html>